In [1]:
import pandas as pd

In [10]:
water = pd.read_csv("freshwater-use-seafood.csv")
land = pd.read_csv("land-use-seafood.csv")
nitrogen = pd.read_csv("nitrogen-emissions-seafood.csv")
phos = pd.read_csv("phosphorous-emissions-seafood.csv")

In [12]:
water

,Entity,Code,Year,Freshwater use (m3 / kg edible weight)
0,Bivalves (farmed),NaN,2021,0.000000
1,Carp (farmed),NaN,2021,3.522775
2,Catfish (farmed),NaN,2021,2.094446
3,Chicken,NaN,2021,0.454700
4,Milkfish (farmed),NaN,2021,0.282913
5,Other freshwater fish (farmed),NaN,2021,0.362880
6,Other marine fish (farmed),NaN,2021,0.401395
7,Salmon (farmed),NaN,2021,0.155711
8,Seaweed (farmed),NaN,2021,0.000000
9,Shrimp (farmed),NaN,2021,0.219165
10,Silver/bighead (farmed),NaN,2021,9.277280
11,Tilapia (farmed),NaN,2021,1.230468
12,Trout (farmed),NaN,2021,0.112581

In [9]:
## getting rid of bivalves and seaweed and chicken

water_filtered = water[(water['Entity'] != "Bivalves (farmed)") & (water['Entity'] != "Seaweed (farmed)") & (water['Entity'] != "Chicken")]
land_filtered = land[(land['Entity'] != "Bivalves (farmed)") & (land['Entity'] != "Seaweed (farmed)") & (land['Entity'] != "Chicken")]
nit_filtered = nitrogen[(nitrogen['Entity'] != "Bivalves (farmed)") & (nitrogen['Entity'] != "Seaweed (farmed)") & (nitrogen['Entity'] != "Chicken")]
phos_filtered = phos[(phos['Entity'] != "Bivalves (farmed)") & (phos['Entity'] != "Seaweed (farmed)") & (phos['Entity'] != "Chicken")]

,Entity,Code,Year,Freshwater use (m3 / kg edible weight)
1,Carp (farmed),NaN,2021,3.522775
2,Catfish (farmed),NaN,2021,2.094446
4,Milkfish (farmed),NaN,2021,0.282913
5,Other freshwater fish (farmed),NaN,2021,0.362880
6,Other marine fish (farmed),NaN,2021,0.401395
7,Salmon (farmed),NaN,2021,0.155711
9,Shrimp (farmed),NaN,2021,0.219165
10,Silver/bighead (farmed),NaN,2021,9.277280
11,Tilapia (farmed),NaN,2021,1.230468
12,Trout (farmed),NaN,2021,0.112581